/* Primary button */
.button-mea {
  transition: color 0.3s ease-in-out;
}

[data-wf--cc---global-button--mode-button---variables='is-navbar']:hover .button-mea {
  color: var(--_brand---text--brand-blue);
}

/* scroll */
.hero_scroll-arrow.is-top {
  opacity: 0;
  transform: translateY(-100%);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.hero_scroll-arrow.is-bottom {
  opacity: 1;
  transform: translateY(0%);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.hero_scroll-wrapper:hover .hero_scroll-arrow.is-top {
  /* display: flex; */
  opacity: 1;
  transform: translateY(0%);
}

.hero_scroll-wrapper:hover .hero_scroll-arrow.is-bottom {
  /* display: flex; */
  opacity: 0;
  transform: translateY(100%);
}
